{% extends "main.html" %}
{% block content %}
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <h3>Enter new password</h3>
                <p>
                    Please enter your new password twice so we can verify you typed it in correctly.
                </p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form__field">
                        <label for="formInput#text">{{ form.new_password1.label }}:</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form__field">
                        <label for="formInput#text">{{ form.new_password2.label }}:</label>
                        {{ form.new_password2 }}
                    </div>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p style="color:red;">
                                {{ error }}
                            </p>
                        {% endfor %}
                    {% endfor %}
                    <input class="btn btn--sub btn--lg  my-md"
                           type="submit"
                           value="Change my password"/>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
